* {
/*margin: 0;*/
padding: 0;
box-sizing: border-box;
font-family: "Outfit", sans-serif;
color: #22383c;
background-color: #fdfeff
}

body{
  height: 100vh;
}
header {
  height: 15vh;
}

main {
  height: 75vh;
}

footer {
  height: 10vh;
}
.navheader {
  background-color: transparent;
} 


/* Cambia las barras por círculos */
/* .carousel-indicators [data-bs-target] {
    width: 12px;       /* Ajusta el tamaño que desees */
  /*  height: 12px;      /* Debe ser igual al ancho */
  /*  border-radius: 50%; /* Esto crea el círculo */
   /* border: none;      /* Opcional: quita el borde invisible de Bootstrap */
  /*  margin: 0 5px;     /* Espaciado entre los círculos */
/*} */




@media (max-width: 1024px) and (min-width: 781px) {

}

@media (max-width: 780px) and (min-width: 376px) {

}

@media (min-width: 375px) {

}