* {
/*margin: 0;*/
padding: 0;
box-sizing: border-box;
font-family: "Outfit", sans-serif;
color: #22383c;
background-color: #fdfeff

}

.navheader {
  background-color: transparent;
} 

/* header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

header ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding-right: 20px;
}


header img {
    width: 50%    ;
} */

/* .iniciarMenu{
  display: flex;
  justify-content: right;
  align-items: right; 
  color: white;
  font-size: 1.2rem;

} */

/* nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  padding-right: 20px;
  background-color: transparent;

}
 */



@media (max-width: 1024px) and (min-width: 781px) {

}

@media (max-width: 780px) and (min-width: 376px) {

}

@media (min-width: 375px) {

}