@use "../layout/mixin" as *;

.product-img{
  @include product-img(400px)
}


h4{
  .card-title{
      font-size: 12px;
  }
}

p{
  .card-text {
    font-size: 12px;
  }
}

button{
  .btn-primary {
    font-size: 15px;
  }
}