@use "../layout/mixin" as *;
@use "../utilities/variables" as *;

.product-img{
  @include product-img(400px)
}


h4{
  .card-title{
      font-size: 12px;
  }
}

p{
  .card-text {
    font-size: 12px;
  }
}

button{
  .btn-primary {
    font-size: 15px;
  }
}

/*latido*/
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.btn-pulse {
  @include size(60%, 25%);
  font-size: 12px;
  align-self: center;
  background: $color-new;
  color: $color-bg;
  padding: 12px 25px;
  border: none;
  border-radius: 50px;
  animation: pulse 1.5s infinite;
}